/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
h1 {
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 26.4px;
}
h3 {
  font-family: Raleway;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 15.4px;
}
p {
  font-family: Raleway;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 20px;
}
blockquote {
  font-family: Raleway;
  font-size: 21px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 30px;
}
pre {
  font-family: Raleway;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 18.5714px;
}

span {
  font-family: Raleway;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 15.4px;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

section {
  display: flex;
  flex-direction: column;
  max-width: 1350px;
  display: flex;
  flex-direction: column;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

ul {
  margin: 0;
  padding: 0;
}
.img_hebergment {
  object-fit: cover;
  width: 236px;
  height: 112px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding-left: 5px;
  padding-right: 5px;
}

.img_pop {
  width: 132px;
  height: 132px;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

ul {
  list-style: none;
}

nav ul {
  padding: 2.5rem 1.5rem;
}

nav li + li {
  margin-top: 1rem;
}

nav li:last-child {
  border: 1px solid #ffffff;
  margin-top: 1rem;
  padding: 0.4rem 0;
}
.nav-container {
  padding: 1.25rem 11.46%;
  position: relative;
  z-index: 1;
  background-color: #ffffff;
}

nav a {
  display: inline-block;
  padding-bottom: 0.1rem;
  transition: all 1000ms cubic-bezier(1, -1.43, 0.18, 1.95);
}

nav a:hover {
  color: var(--cta-cyan);

  transform: scale(1.25);
}

nav ul {
  padding: 0;
}

li {
  display: inline;
  margin-left: 1.56rem;
}

.filter {
  align-self: flex-start;
  margin: 0px 0px 20px 30px;
}

footer {
  padding: 50px;
  position: relative;
  background-color: #f2f2f2ad;
  border-color: #f2f2f25d;
}
.footer-columns a {
  display: flex;
  color: var(--dark-violet);
  margin: 1rem 0;
}

.column a:first-child {
  color: var(--dark-grayish-violet);
  margin: 2rem 0;
}

.footer {
  display: flex;
  align-items: flex-start;
  margin-top: 2rem;
}

.footer-head {
  display: flex;
  align-items: center;
  margin: 0 11.46%;
}
.footer-columns {
  display: flex;
  justify-content: space-between;
  padding: 1rem 11.46%;
  text-align: left;
}

.carousel.inner {
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
  color: #0065fc;
}

h1 a {
  color: black;
}

li a :hover {
  text-decoration: overline;

  margin-right: 1rem;
}

.wrapper {
  display: flex;
}
.wrapper .button {
  display: inline-block;
  height: 40px;
  padding-right: 12px;
  margin: 0 5px;
  overflow: hidden;
  background: #fff;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-out;
  color: #0065fc;
}

.wrapper .button .icon {
  display: inline-block;
  height: 40px;
  width: 40px;
  text-align: center;
  border-radius: 50%;
  box-sizing: border-box;
  line-height: 40px;
  transition: all 0.3s ease-out;
  background-color: #deebff;
}
.wrapper span {
  color: #000000;
}

.positionSearch {
  background-color: #f2f2f2;
  padding: 1rem 1.25rem;
  border-radius: 1rem 0 0 1rem;
  text-align: center;
}

.text form input {
  border-right: none;
  border-left: none;
  border-top: #f2f2f2 1px solid;
  border-bottom: #f2f2f2 1px solid;
  padding: 0 1.5rem;
  width: 14rem;
  font-size: 1rem;
  font-weight: bold;
  font-family: "Raleway", "Sans serif";
}

.searchbox {
  margin: 15px 0 31px;
  box-shadow: inset 0 0 0 1px #f2f2f2;
  border-radius: 17px;
  overflow: hidden;
  width: 420px;
  display: flex;
  justify-content: space-between;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.searchbox input {
  background-color: #ffffff00;
  min-width: 160px;
}

.searchbox input,
.searchbox button {
  border: none;
  padding: 17px;
  color: black;
  font-weight: bold;
}

.searchbox button[type="submit"] {
  background-color: #0065fc;
  color: white;
  cursor: pointer;
  min-width: 50px;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.box {
  display: flex;
  justify-content: space-between;
}

.title_content {
  margin: 0px;
  font-size: large;
  margin-bottom: 21px;
}

.container {
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-between;
  border-radius: 20px;
  padding: 44px 36px 44px 36px;
  max-width: 805px;
}

.box_card {
  border: 3px solid white;
  border-radius: 20px;
  padding: 5px 5px 10px 5px;
  background-color: white;
  max-width: 236px;
  margin-bottom: 28px;
}

.pics_hebergment {
  object-fit: cover;
  width: 236px;
  height: 112px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.hebergment.content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 16px;
}
.name_hebergment {
  padding-top: 11px;
  padding-bottom: 11px;
  color: #000;
}

.content_price {
  padding-bottom: 11px;
  color: #000;
}
.stars {
  padding-bottom: 11px;
}

.popular {
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  padding: 45px 38px 31px 45px;
  max-width: 345px;
}
#hebergment {
  width: 65%;
}

.hebergment_marseille {
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-between;
  border-radius: 20px;
  padding: 44px 36px 44px 36px;
  max-width: 805px;
}
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  margin-bottom: 60px;
}

/*popular */
.popular {
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  padding: 40px 38px 31px 45px;
  max-width: 345px;
  margin-top: 40px;
  margin-bottom: 60px;
}

.popular_title {
  font-size: large;
  margin-bottom: 25px;
}

.popular_hebergment {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.popular_box {
  border: 3px solid white;
  border-radius: 20px;
  display: flex;
  background-color: white;
  padding: 6px 58px 6px 6px;
  max-width: 284px;
  max-height: 135px;
  margin-bottom: 29px;
}

.popular_pics {
  width: 132px;
  height: 132px;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

#cote {
  display: flex;
  flex-direction: row;
}

.content_price {
  color: #000;
}
.popular_title_containt {
  color: #000;
  align-items: center;
}

#activity {
  background-color: white;
  height: 500px;
  margin-bottom: 60px;
  max-width: 1350px;
}

.activities {
  display: flex;
  flex-direction: row;
}

.activity1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
  box-shadow: 0 0 20px #0000002e;
  padding: 0px 0px 20px 0px;
  border-radius: 20px;
  margin: 0px 0px 20px 0px;
  width: 25%;
}

.activity1 img,
.activity4 img {
  height: 464px;
  object-fit: cover;
  width: 100%;
}
.activity2 img,
.activity3 img,
.activity5 img,
.activity6 img {
  height: 204px;
  object-fit: cover;
  width: 100%;
}
.activity2,
.activity3,
.activity5,
.activity6 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
  box-shadow: 0 0 20px #0000002e;
  padding: 0px 0px 20px 0px;
  border-radius: 20px;
  margin: 0px 0px 20px 0px;
  width: 80%;
  height: 240px;
}

.activity_picture {
  background-size: 100% 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 0px 0px 22px 0px;
  width: 100%;
}
.activity2_3 {
  display: flex;
  flex-direction: column;
  width: 25%;
}

.activity4 {
  box-shadow: 0 0 20px #0000002e;
  padding: 0px 0px 20px 0px;
  border-radius: 20px;
  margin: 0px 0px 20px 0px;
  width: 25%;
}

.activity5_6 {
  display: flex;
  flex-direction: column;
  width: 25%;
}

.fas.fa-star.grey-star {
  color: rgb(218, 216, 216);
}

.search-input__submit-icon {
  opacity: 0;
}
