/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

ul {
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
  grid-column: 3/4;
  grid-row: 3/5;
  width: 8rem;
}

ul {
  list-style: none;
}

nav ul {
  padding: 2.5rem 1.5rem;
}

nav li + li {
  margin-top: 1rem;
}

nav li:last-child {
  border: 1px solid #ffffff;
  margin-top: 1rem;
  padding: 0.4rem 0;
}
.nav-container {
  padding: 1.25rem 11.46%;
  position: relative;
  z-index: 1;
  background-color: #ffffff;
}

nav a {
  display: inline-block;
  padding-bottom: 0.1rem;
  transition: all 1000ms cubic-bezier(1, -1.43, 0.18, 1.95);
}

nav a:hover {
  color: var(--cta-cyan);
  border-bottom: 1px solid var(--cta-cyan);
  transform: scale(1.25);
}

nav ul {
  padding: 0;
}

li {
  display: inline;
  margin-left: 1.56rem;
}

nav li:last-child a {
  color: #dbe9ff;
  border: 1px solid var(--very-dark-violet);
  padding: 0.75rem 1.78rem;
}

li:hover:last-child a {
  color: #dbe9ff;
  background: var(--dark-violet);
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

footer {
  padding: 15rem 35rem 8rem;
  position: relative;
  background-color: #f2f2f2ad;
  border-color: #f2f2f25d;
}
.footer-columns a {
  display: flex;
  color: var(--dark-violet);
  margin: 1rem 0;
}

.column a:first-child {
  color: var(--dark-grayish-violet);
  margin: 2rem 0;
}

footer a:hover {
  text-decoration: underline;
}
footer a:hover {
  text-decoration: underline;
}
.footer {
  display: flex;
  align-items: flex-start;
  margin-top: 2rem;
}

.footer-head {
  display: flex;
  align-items: center;
  margin: 0 11.46%;
}
.footer-columns {
  display: flex;
  justify-content: space-between;
  padding: 1rem 11.46%;
  text-align: left;
}

.carousel.inner {
  width: 100%;
  height: 100%;
}
